html,body{
	margin: 0;
	padding: 0;
	
}
.navbar{
	width: 100%;
	height: 10vw;
	background: #181818;
	display: flex;
	justify-content: right;
}
.navPanel a{
	color: white;
	text-decoration: none;
	font-family: "Dancing Script",cursive;
	font-size: 1.5vw;
}
.navPanel{
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}